.navbar {
    background-color: black;
}

.navContainer {
    flex-direction: column;
}
body{
    background-color: #f9fafb;
    overflow-x: hidden;
}
.navbar-brand{
    text-decoration: none;
    color: white !important;
}
a:hover{
    color: #0d6efd !important;
}